.wrap {
  position: relative;
}

.wrapMobile {
  position: relative;

  display: none;
}

.createSnippet {
  position: absolute;
  bottom: 0;
  right: 0;

  padding: 0 0 1rem 1rem;
}

.create-snippet-button {
  padding: 0.55rem 2rem;
  border: none;
  border-radius: 4px;
  font-size: 2rem;
  width: 100%;
  cursor: pointer;
  font-weight: 600;
  background-image: linear-gradient(124deg, #23da8d, #21cabf);
}

@media screen and (max-width: 550px) {
  .wrap {
    display: none;
  }

  .wrapMobile {
    display: block;
  }
}
