.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #333748;
  border-radius: 10px;
  border-right: 1px solid rgba(230, 230, 230, 0.1);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  stroke: #07ffc5;
  stroke-width: 1.5px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.link {
  padding: 10px;
  border-radius: 6px;
  margin: 5px;
  color: transparent;
}

.linkSelected {
  padding: 10px;
  color: transparent;
  margin: 5px;
  border-radius: 6px;
  background-color: #07ffc51b;
}

@media screen and (max-width: 900px) {
  .link {
    padding: 0 0.5rem;
  }

  .linkSelected {
    padding: 0 0.5rem;
  }

  .sidebar-icon {
    font-size: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .wrapper {
    margin: 0.5rem;
  }
}

@media screen and (max-width: 415px) {
  .wrapper {
    margin: 0.25rem;
  }
}
