.wrapper {
  padding: 0em 1.5em 0 4em;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.removedWrapper {
  padding: 1em 1.5em 0 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
}

.removedWrap {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.snippetInfoItem {
  display: flex;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 2px 10px 0px rgb(0 0 0), 0px 4px 10px 0px rgb(0 0 0 / 64%);
  background-color: #282f2e;
  padding: 0.5rem 1rem;
  column-gap: 0.5rem;
}

.snippetInfoSubItem {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 2px 10px 0px rgb(0 0 0), 0px 4px 10px 0px rgb(0 0 0 / 64%);
  background-color: #282f2e;
  padding: 0.5rem 1rem;
  column-gap: 0.5rem;
}

.removingOval {
  font-size: 3rem;
  color: #07ffc5;
}

.removed {
  font-size: 2rem;
  color: white;
}

.editorLayout > :first-child {
  min-width: 100px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 0rem 1rem 1rem 1rem;
}

.snippet-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.title {
  color: #07ffc5;
  font-size: 2rem;
}

.snippet-header-links {
  display: flex;
  align-items: center;
}

.snippet-header-links > h3 {
  cursor: pointer;
}
.header-icon-label {
  color: white;
  cursor: pointer;
}

.header-icon {
  color: #07ffc5;
  margin: 0 0.3em 0 0;
  cursor: pointer;
}

.header-icon-delete {
  color: #ff2b2b;
  margin: 0 0.3em 0 0;
  cursor: pointer;
}

.header-icon-saved {
  color: #21cabf;
  margin: 0 0.3em 0 0;
  cursor: pointer;
}

.dateWrap {
  display: flex;
  align-items: center;
  color: #a0a0a0;
  column-gap: 0.25rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.noSnippets {
  color: #b8b8b8;
}

.codeWrapHome {
  display: flex;
}

.codeWrap {
  display: flex;
  flex-direction: column;
}

.loadingWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.snippet-subcontent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.saveEdit {
  font-size: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
  background-color: #21cabf;
}

.cancelEdit {
  cursor: pointer;
  background: none;
  font-size: 1rem;
  border: none;
  color: rgb(155, 155, 155);
}

.snippetInfo {
  display: flex;
  column-gap: 1rem;
}

.editActiveWrap {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.snippet-subcontent-updated {
  color: #686868;
  margin: 0 0 0.5em 0;
}

.snippet-subcontent-author {
  color: #a0a0a0;
  font-weight: 500;
}

.likesWrap {
  display: flex;
  align-items: center;
  color: #a0a0a0;
  border-radius: 8px;
  box-shadow: 0px 2px 10px 0px rgb(0 0 0), 0px 4px 10px 0px rgb(0 0 0 / 64%);
  background-color: #282f2e;
  padding: 0.5rem 1rem;
  column-gap: 0.5rem;
  font-size: 1.5rem;
}

.snippet-language-wrap {
  display: flex;
}

.snippet-language {
  color: #ffdd00;
  font-weight: 500;
  font-size: 1.5rem;
}

.main-content {
  display: flex;
  row-gap: 1rem;
  box-shadow: 0px 2px 20px 0px rgb(0 0 0), 0px 4px 20px 0px rgb(0 0 0 / 64%);
  flex-direction: column;
}

.bySpan {
  color: #a0a0a0;
}

.description-wrap {
}

.description {
  color: white;
}

.loadingLabel {
  color: #07ffc5;
}

.title-wrap {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.public {
  color: #202020;
  font-weight: 600;
  background-color: rgb(85, 227, 80);
  font-size: 0.6rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.private {
  color: white;
  background-color: rgb(237, 59, 59);
  font-size: 0.6rem;
  font-weight: 600;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.modalWrap {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  top: 0;
  padding: 3rem 0 0 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}

.editModalWrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 100;
}
.sidebarModalWrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 100;
}

.sidebarModalWrapHidden {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 100;
}

.userTextWrap {
  display: flex;
  flex-direction: column;
}
.editModalWrapHidden {
  display: none;
}

.description-edit {
  color: black;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.makePrivate {
  color: #ff2b2b;
  background: none;
  border: none;
  cursor: pointer;
}

.save-wrap {
  display: flex;
  align-items: center;
}

.headerButtons {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  border-radius: 8px;
  box-shadow: 0px 2px 10px 0px rgb(0 0 0), 0px 4px 10px 0px rgb(0 0 0 / 64%);
  background-color: #282f2e;
  padding: 0.5rem 1rem;
}

.headerButtonWrap {
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
}

.editorLayout {
  height: 800px;
  max-height: 800px;
  display: grid;
  grid-template-columns: 0.5fr 4fr;
}

.editorLayout > :first-child {
  background-color: #363535;
}

.explorer > :first-child {
  background-color: #282f2e;
}

.filesWrap {
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-left: 1px solid rgb(66, 66, 66);
  max-height: 900px;
}

.filesWrap * {
  white-space: normal;
  word-break: break-all;
  background-color: #282f2e;
}
.main-content * {
  border-radius: 8px;
}

.filesWrap > :first-child {
  overflow-y: auto;
  height: 430px;
}

.explorerWrapMobile {
  position: relative;
  display: none;
}

.explorerMobile > :nth-child(2) {
  background-color: #313131;
}

.explorerMobile {
  display: none;
  position: absolute;
  box-shadow: 0px 2px 30px 0px rgb(0 0 0), 0px 4px 30px 0px rgb(0 0 0 / 64%);
  top: 0;
  width: 100%;
  z-index: 9999;
}

.explorerToggle {
  cursor: pointer;
  padding: 0.25rem;
  font-weight: 600;
  text-align: center;
  color: #9d9d9d;
  font-size: 0.7rem;
}

.explorerToggle:hover {
  text-decoration: underline;
}

.headerInfoItem {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  .wrapper {
    padding: 1rem 0rem 0 2rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .header-icon-label {
    font-size: 1rem;
  }

  .snippet-subcontent-author {
    font-size: 0.8rem;
  }

  .dateWrap {
    font-size: 0.8rem;
  }

  .snippet-language {
    font-size: 0.8rem;
  }

  .likesWrap {
    font-size: 0.8rem;
  }

  .saveEdit {
    font-size: 0.8rem;
  }

  .cancelEdit {
    font-size: 0.8rem;
  }

  .editActiveWrap {
    column-gap: 0.5rem;
  }

  .headerButtons {
    column-gap: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .changeSpan {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .header-icon-label {
    display: none;
  }

  .description-wrap {
    padding: 1rem 0 0 0;
  }

  .headerButtons {
    column-gap: 1rem;
  }

  .explorer {
    display: none;
  }

  .explorerMobile {
    display: block;
  }

  .explorerWrapMobile {
    display: block;
    box-shadow: 0px 2px 30px 0px rgb(0 0 0), 0px 4px 30px 0px rgb(0 0 0 / 64%);
  }

  .editorLayout {
    display: flex;
    flex-direction: column;
  }

  .filesWrap {
    border: none;
  }

  .public {
    font-size: 0.4rem;
  }

  .title-wrap {
    column-gap: 0.35rem;
  }
}
@media screen and (max-width: 475px) {
  .saveEdit {
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
  }

  .editActiveWrap {
    flex-direction: column;
    row-gap: 0.25rem;
  }
}

@media screen and (max-width: 375px) {
  .headerButtons {
    column-gap: 0.5rem;
    font-size: 0.9rem;
  }

  .contentContainer {
    padding: 0 0.5rem 1rem 0.5rem;
  }

  .title {
    font-size: 1.25rem;
  }

  .snippet-subcontent-author {
    font-size: 0.7rem;
  }

  .dateWrap {
    font-size: 0.7rem;
  }

  .snippet-language {
    font-size: 0.7rem;
  }

  .likesWrap {
    font-size: 0.7rem;
  }

  .public {
    display: none;
  }

  .private {
    display: none;
  }

  .snippetInfo {
    column-gap: 0.5rem;
  }
}
