.wrapper {
  color: white;
  background-color: #333748;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid #212121;
}

.wrapper:hover {
  transform: translateY(-5px);
  filter: drop-shadow(0 14px 30px rgba(0, 0, 0, 0.125));
}

.rightWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infoWrap {
  padding: 0.75rem 1.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  color: rgba(255, 255, 255, 0.297);
}

.leftWrap {
  padding: 1rem 0 0 0;
}
.previewWrap {
  padding: 0.5rem 0;
  background-color: white;
  overflow: hidden;
}
.wrapper:hover {
  z-index: 99999;
  transition: all 0.5s;
}

.searchWrapper:hover {
  border: solid 1px #07ffc5;
}

.selected {
  border: solid 1px #07ffc5;
  z-index: 99999;
  transition: all 4s;
}

.userWrap {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.title {
  padding: 0;
  font-size: 1.65rem;
  max-width: 350px;
  word-break: break-all;
  color: rgba(255, 255, 255, 0.721);
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.display {
  position: relative;
}

.display * {
  max-height: 200px;
  border-radius: 10px 10px 0px 0px;
}

.highlightedSnippetInfo {
  position: absolute;
  border-radius: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  right: 0;
  color: #0fffc7;
  background-color: #018466;
  backdrop-filter: blur(5px);
  padding: 0.625rem 1.25rem;
}

.date {
  padding: 0 0 0 0;
  display: flex;
  align-items: center;
}

.language {
  font-weight: 500;
}

.snippet {
  padding: 0 0 0.5rem 0;
}

.authorWrap {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.author {
  font-weight: 600;
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.language-wrapper {
  display: flex;
  padding: 0 0 0.5rem 0;
}

.description {
  word-break: break-all;
  white-space: normal;
}

.descriptionLabel {
  color: rgb(255, 255, 255, 0.8);
  padding: 0 0 0.5rem 0;
}

.info-wrap {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 1rem 0;
}

.subheader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 1rem 0;
}
.codeWrap {
  margin: auto 0 0 0;
  padding: 0 0 0.5rem 0;
}

.contentWrap {
  padding: 1rem 0 0 0;
}

.actionsWrap {
  display: flex;
  justify-content: space-between;
  padding: 0;
  column-gap: 2rem;
}

.actionLabel {
  color: rgba(255, 255, 255, 0.297);
}

.likesWrap {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  color: #a0a0a0;
}

.icon {
  width: 34px;
  fill: none;
  color: transparent;
  stroke-width: 1.5px;
  stroke: rgba(255, 255, 255, 0.297);
}

.languageSpan {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.actionsWrapHome {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 0 0;
  column-gap: 2rem;
}

.buttonWrap {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.actionWrap {
  display: flex;
  column-gap: 0.5rem;
  cursor: pointer;
  color: #a0a0a0;
  align-items: center;
}

.actionWrap:hover {
  color: #07ffc5;
}

.snippetWrap {
  cursor: pointer;
}

@media screen and (max-width: 475px) {
  .searchWrapper {
    margin: 0;
  }
}
