.wrapper {
  position: absolute;
  height: 100%;
  z-index: 99999;
  display: flex;
  padding: 0 0 0 0;
  border-radius: 8px;
  row-gap: 1rem;
}

.sidebar {
  width: 100%;
  display: flex;
  border-radius: 8px 0px 0px 8px;
  flex-direction: column;
  row-gap: 2rem;
  padding: 1rem 1rem 1rem 1rem;
  background-color: #282f2e;
  border-right: 1px solid rgb(75, 75, 75);
}

.toggle {
  font-size: 1.5rem;
}
.sidebarHidden {
  display: none;
}

.sidebarToggle {
  color: white;
  padding: 1rem 1rem;
  background-color: #282f2e;
  cursor: pointer;
  border-radius: 0px 8px 8px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.sidebarToggleIn {
  color: white;
  padding: 1rem 1rem;
  border-radius: 8px;
  background-color: #282f2e;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.toggleFlip {
  transition: all 0.5s;
  font-size: 1.5rem;
  transform: scaleX(-1);
}

.sidebarToggle:hover {
  background-color: #181f1e;
}

.sidebarToggleIn:hover {
  background-color: #181f1e;
}

@media screen and (max-width: 1435px) {
  .sidebar {
    padding: 1rem 0.5rem;
  }
}

@media screen and (max-width: 900px) {
  .sidebarToggleIn {
    padding: 1rem 0.5rem;
  }

  .sidebarToggle {
    padding: 1rem 0.5rem;
  }

  .toggleFlip {
    font-size: 1rem;
  }

  .toggle {
    font-size: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .sidebar {
    padding: 1rem 0.5rem;
  }
}
