.wrapper {
  display: flex;
  min-height: 100%;
  padding: 1rem;
  column-gap: 1rem;
  max-height: 100vh;
}

.contentWrap {
  display: grid;
  width: 100%;
  row-gap: 1rem;
  grid-auto-rows: 1fr 20fr;
  max-height: 100vh;
  overflow-y: auto;
}
