.wrapper {
  background-color: #232530;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  min-height: 60px;
  padding: 0.5rem;
  column-gap: 2rem;
}

.filterSearch {
  background-color: #333748;
  border-radius: 6px;
  display: flex;
}

.filterToggles {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.filterToggle {
  color: #ffffff5c;
}

.input {
  background-color: transparent;
  border: none;
  color: #07ffc5;
  font-size: 1.25rem;
  border-radius: 6px;
  padding: 0 0.5rem;
  margin: 0 10px 0 0;
  height: 40px;
}

.icon {
  padding-right: 15px;
  color: #ffffff5c;
  background-color: transparent;
  stroke-width: 1.5px;
  width: 40px;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  font-style: normal;
  opacity: 0.7;
}
